


.ht-sense{
    text-align: left;
    
}
.about-c{
    color: red;
}
.about-d{
    color: white;
}

@media screen and (max-width: 450px) {
    /* .f-img {text-align: center;} */
    /* .h-img{text-align: center;} */
    .ht-sense  {text-align: center !important;}
    .ht-sense{
        padding-top: 8vh;
    }
    .lt-sense {text-align: center !important;}
    .lt-sense p{text-align: center !important; padding-left: 20px; padding-right: 20px;}
    .lt-sense {text-align: center;}
    .about-block{
        height: 126vh !important;
    }

  }


  .about-block{
    height: 90vh;
    display: block;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 background-color: rgb(0, 0, 0);
width: 100%;
overflow: hidden;
  }
