/* Navbar.css */

.navbar {
    /* background-color: transparent; Initial background color  */
    transition: background-color 0.3s ease; /* Transition effect for smooth color change */
    /* Other styles for your navigation bar */
  }
  
  .navbar.scrolled {
    background-color: #e97272; /* Color when scrolled */
    /* Other styles for the scrolled navigation bar */
  }
  