.vy-item-wrapper > div {
	position: relative;
}

a.no-style {
	text-decoration: none;
	color: inherit;
}

.vy-item {
	color: #000;
	display: inline-block;
    
}

.vy-item img {
	border-radius: 0;
    width: 100vw;
}

.list-group-item{
    border:unset
}

/* 
.vy-item .list-group-item ul {
	list-style-type: none;
    padding-inline-start: 0px;
    display: inline-block;
    padding-right: 8px;
    min-width: 45%;
    max-width: 45%;
    height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
} */

/* .vy-item .list-group-item ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

} */


.vy-item .vy-title-block, .blog-thumb-desc .vy-title-block {
	height: 26px;
    font-size: 1px;
    line-height: 26px;
    overflow: hidden;
    margin: 0;
}
.vy-title-block{
	font-size: 18px;
	text-align: left;
}

.vy-item .vy-price {
	font-weight: 600;
	font-size: 26px;
	display: block;
	margin-top: -8px;
}

.vy-item .vy-price-tax {
	line-height: 12px;
	margin-top: -4px;
    display: block;
}


/* slider */


.slick-slide > div {
    margin: 0 -10px;
  }
  .slick-list {
    margin: 0 -27px !important;
  }
  .card-top > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card{
	overflow: hidden;
	width: 50vh!important;
  }
  .card-bottom{
	margin: 10px 20px;
  }
/* slider */