
.sidenav {
    text-align: center;
    padding-top: 20vh !important;
    height: 100%;
    width: 50vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }

  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 50vh; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 100px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px; width: 0px !important;}
    .sidenav a {font-size: 18px;}
    .main{padding:0px !important;}
   
  }
  @media screen and (max-width: 450px) {
    .sidenav {padding-top: 15px; width: 20vh !important;}
    .sidenav a {font-size: 18px;}
    .main{padding-left:-10px !important;margin-left: 20vh;}
  }
.form-check-label{
    color: aliceblue;
}