
.fixed-nav{
    position: fixed !important;
    width: 100% !important;
    z-index: 99 !important;
}
.nav-item .about{
    text-align: center !important;
    color: #000;
}
.logo-nav{
    background-image: url("../img/logo.png") no-repeat !important;
    width: 350px;
}
.account{
    background: rgba(255,255,255,0.5) !important;
    border-radius: 25px;
    padding: 0px 10px 0px 10px;
}
.max-auto{
    margin: auto;
    margin-right: auto!important;
    margin-right: auto!important;
}
.navbar-dark{
    background: rgba(0,0,0,0.7);
    border-bottom: 0.5px solid #333;
}
.navbar-collapse .max-auto{
    text-align: center !important;
}




.nav-link:hover{
    color: red !important;
}
.nav-other{
    position: relative;
    float: right;
    margin-left: auto;
    margin-top: 0;
    margin-right: auto;
    display: flex;
    justify-content: center;
    text-align: right;
    align-items: center;
    background-color: #fff !important;
}
.logo-img{
    text-align: left;
}
.feature{
    background-color: rgb(0, 0, 0);
    padding: 2%;

}
.car-list{
    background-color: rgb(0, 0, 0);
}



.feature h1{
    padding: 1%;
    font-family: Montserrat, sans-serif;
    text-align: center !important;
    color: rgb(255, 255, 255);
}
.feature-vehicle{
    max-width: 100%;
}
.sentence{
    padding-top:10px !important;
}
.sentence-block{
    text-align: center;
    color: white;
}

.nav-link{
color: rgba(255,255,255,.5) !important;
font-size: 13px !important;
font-family: Montserrat, sans-serif !important;
font-weight: 600 !important;
text-transform: uppercase !important;
}

.background-image {
    background-image: url('../img/car.png'); /* Replace with the actual image path */
    background-size: cover; /* Adjust sizing as needed */
    background-position: center; /* Center the image */
  }
  .btn-transparent {
    text-decoration: none !important;
    background-color: transparen !important;
    background: rgba(255,255,255,0.5) !important;
    border-radius: 25px !important;
    padding: 0px 10px 0px 10px !important;
    text-align: left;
    color: #222;
    font-size: 13px !important;
}
.contact-button{
    padding-top: 10px;
    text-align: right;
    
}
.title-box{
    position: relative; /* Make sure the child elements position relative to this container */
    max-width: 100%; /* Make the container width responsive */
    text-align: center !important;
   
}






.title-box .box{
    position: absolute; /* Position it absolutely within the image container */
    top: 29vh; /* Adjust the top position as needed */
    left: 25%; /* Adjust the left position as needed */
    width: 52%; /* Adjust the width as needed */
    border-radius: 18px;
   height: 18vh;
    background-color: rgba(0,0,0,0.5);
    text-align: center !important;
    


    
}
.title-icon{
    position: absolute;
    text-align: center !important;
}

.icon-wallet{
    list-style: none;
    font-size: 30px;
    border-radius: 400px;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0px;
    color: #2c3e50;
}



@media screen and (max-width: 450px) {
    .icon-logo {text-align: center;height: 5px; display: block; box-sizing:border-box; font-size: 32px !important; top: 10px; margin-top: -10px !important; padding-left: 10px;}
    .title-box .box{
        position: absolute; 
        top: 29vh; 
        left: 10%;
        width: 80%; 
        border-radius: 18px;
       height: 23vh;
        background-color: rgba(0,0,0,0.5);
        text-align: center !important;
        
        
    }
    
  }
  @media screen and (max-height: 450px) {

    
  }


.logo-name{
    color: aliceblue;
    text-decoration: none;
}
.icon-list {
    position: relative;
    text-align: center !important;
}


.icon-wallet{
    position: absolute;
    font-size: 2px;
    font-size: 38px;
    top: 6vh;
    color: aliceblue;
}
.title-icon h6{
    left: 9vh;
    color: aliceblue;
    top: 14vh;
    font-size: 14px;
    position: absolute;
}
.title-icon button{
    left: 0vh;
    width: 100%;
    padding: 10px !important;
    /* color: aliceblue; */
    top: 7vh;
    font-size: 14px;
    position: absolute;
}

.view-stock{
    text-align: center;
}
.view-stock button{
    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #ffffff;
    background-color: transparent;
    height: 50px;
    /* width: 400px; */
    width: 100%;
    max-width: 300px;
    color: #ffffff;;
    font-size: 1.5em;
}


.view-stock button{
    background: rgba(0,123,255,0);
    border: 3px solid #fff;
    border-radius: 30px;
    text-transform: uppercase;
    white-space: nowrap;
}
@media screen and (max-width: 450px) {
    .view-stock button{
        width: 82%;
    }
}
.view-stock button:hover{
    background-color: red;
    color: #ffffff;
}

.block-service{

    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

}

/* bottom */
.vertical-line{
    width: 1px;
    height: 200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #fff;
}
.bottom-button{
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.line{
    /* padding-right: 40vh;
    padding-left: 40vh; */
    text-align: center;
}
.line hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.863);
    box-sizing: content-box;
    height: 0;
    overflow: visible;

    display: inline-block;
    width: 78%;
}
.bottom-list {
    display: flex!important;
}
.bottom-list h2{
    font-size: 16px;
    margin-top: 2rem;
    color: #999;
}

.list-group{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: disc;
    list-style-type: none;
    

}
.list-group a{
    color: #999 !important;
    text-decoration: none  !important;
}
.virtual-yard li a{
  
    background-color: #000;
    text-decoration: none;
    text-align: center;

    background-color: #000;
    color: #fff;
    text-align: center !important;
}
.virtual-yard li{
    color: #fff;
}
.virtual-yard ul{
    list-style-type: none;
}
.terms{
    padding-left: 0;
    list-style: none;
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 0;
    list-style: none;
    text-align: center;
 
}
.term-item{
    display: inline-block;
    color: #fff;
}
.list-line{
    padding: 0 10px;
    padding-right: 12px;
    border-right: 0.5px solid rgb(233, 233, 233);
}
.virtual-logo img{
    width: 100px;
}
/* bottom */

/* Finance block */



.view-block{
    text-align: center;

}
.view-block button{

    background: rgba(0,0,0,0);
    border: 3px solid #fff;
    border-radius: 30px;
    text-transform: uppercase;
    white-space: nowrap;

    cursor: pointer;
    border-radius: 50px;
    border: 2px solid #ffffff;
    background-color: transparent;
    height: 50px;
    width: 100%;
    max-width: 300px;
    color: #ffffff;;
    font-size: 1.5em;
   
}
.view-block button:hover{
    background-color: red;
    color: #ffffff;
}
/* Finance block */

/* About us */
.about{
    color: #fff;
}
.info-back{
    background-color: #0d0e12 !important;
}

.info-a{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.info-b{
    text-align: center;
}
.f-img img{
    width: 80%;
}
/* Contact */
.contact-map{
    padding-top: 40px;
}

/* avantage */
@media screen and (max-width: 450px) {
    .f-img {text-align: center;}
    .h-img{text-align: center;}
    .lt-sense {text-align: center !important;}
    .lt-sense p{text-align: center !important; padding-left: 20px; padding-right: 20px;}
    .logo-name{
        color: aliceblue;
        text-decoration: none;
        position: absolute;
        left: 13vh;
        margin-top: -4vh;
    }

  }